*{
    margin: 0%;
    padding: 0%;
}


header{
    background-color: greenyellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 130px;
     
}
.logo{
    display: flex;
}
h1{
    color: darkgreen; 
    text-shadow: 2px 2px white;  
}
.logo-name{
    display: flex;
}
.panel{
    display: flex;
}
.panel a{
    color: white;
    text-decoration:none ;
    
}

body{
    background: url('/images/tech.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    background-color: green;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    
}
.tanday1{
    width: 22%;
}
.tanday2{
    width: 28%;
}
.tanday3{
    width: 25%;
}
.tanday4{
    width: 25%;
}
.tanday1:hover{
    background-color: rgb(4, 156, 4);
   background-size: cover;
}
.tanday2:hover{
background-color: rgb(4, 156, 4);
background-size: cover;
}
.tanday3:hover{
    background-color: rgb(4, 156, 4);
    background-size: cover;
    }
    .tanday4:hover{
        background-color: rgb(4, 156, 4);
        background-size: cover;
        }
        


.content{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    display: flex;
    width: 70%;
    height: 500px;
    background-color: darkgreen;
    border-radius: 9px;
}

.img img{
    width: 400px;
    height: 80%;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 3%;
}
.infolar{
    width: 90%;
    margin-left:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    color: aliceblue;
}
p{
    color: white;
}
ul{
    color: white;
}

.link-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.link-box>img{
    width: 40px;
}
.cards{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    gap: 50px;
}
.card{
    border-radius: 15px;
    box-shadow: 5px 5px black;
    background-color: white;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card a{
    text-decoration: none;
    color: aliceblue;
}
.card a:hover{
    text-decoration: underline;
    color: purple;
}
.card img{
    border-radius: 15px;

    width: 300px;
}